* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

header {
    margin-top: 47px;
    margin-left: 42px;

}

.link-menu {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.88px;
    text-align: center;
    color: #17233d;
    margin-right: 32px;
    cursor: pointer;

}

button {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    width: 124px;
    height: 51px;
    border-radius: 6px;
    border: 1px solid #4CB538;
    background: #6FBF44;

}

img {
    width: 500px;
    margin-left: 121px;
    margin-top: 50px;
    display: inline-block;
}

div {
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 500px;

}

h1 {
    letter-spacing: 0.596px;
    line-height: 82px;
    color: #161A49;
    font-weight: 700;
    font-size: 62px;
    margin-top: 300px;
    width: 582px;

}

p {
    color: #4B505A;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.5px;
    width: 493px;
    margin-top: 47px;
    margin-bottom: 55px;
}

.learn {
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    color: #6FBF44;
    font-size: 18px;
    cursor: pointer;
}

@media screen and (max-width:700px) {
    
    div {
        text-align: center;
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0; 
    }

    
    a {
        opacity: 0;
    }

    button {
        position: fixed;
        left: 80%;
    
      
    }

 img {
    position: absolute;
    top: 90vh;
    width: 200.791px;
    height: 215.895px;
    text-align: center;
 }

 h1{
    width: 278px;
    text-align: center;
    width: 100%;

 }

 p {
    width: 304px;
    width: 100%;
    height: 50vh;
    

 }


 @media screen and (max-width:500px) {
    img {
        position: absolute;
        top: 130%;
    }

    button {
        position: fixed;
        left: 60%;
    }
}